[submodule "frontend"]
	path = frontend
	url = git@github.com:nicolaschicaiza/health-click-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:nicolaschicaiza/health-click-backend.git
